body {
  margin: 0;
  padding: 0;
  background: #000020;
}

canvas {
  cursor: none;
  margin: 0 auto;
  display: block;
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
}

#modal {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  margin-top: -175px;
  margin-left: -175px;
  padding: 10px;
  background: #999;
}

